<div data-hook="admin_role_form_fields">
  <div class="row">
    <div class="col-4">
      <%= f.field_container :name do %>
        <%= f.label :name, class: 'required' %>
        <%= f.text_field :name, class: 'fullwidth title' %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="left col-6">
      <%= f.label nil, I18n.t("spree.display_permissions") %>
      <ul style="list-style-type: none; padding: 0; margin: 0;">
        <% Spree::PermissionSet.display_permissions.each do |permission| %>
          <li>  
            <%= f.check_box 'permission_set_ids', {checked: f.object.try(:permission_sets).include?(permission), multiple: true}, permission.id, nil %>
            <strong><%= permission.name %></strong>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="right col-6">
      <%= f.label nil, I18n.t("spree.display_permissions") %>
        <ul style="list-style-type: none; padding: 0; margin: 0;">
          <% Spree::PermissionSet.management_permissions.each do |permission| %>
            <li>
              <%= f.check_box 'permission_set_ids', {checked: f.object.try(:permission_sets).include?(permission), multiple: true}, permission.id, nil %>
              <strong><%= permission.name %></strong>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
