<% content_for :page_title do %>
  <%= I18n.t("spree.new_user_role") %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to I18n.t("spree.back_to_roles_list"), spree.admin_roles_path, :icon => 'arrow-left', class: 'btn btn-primary' %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @role } %>

<%= form_for [:admin, @role] do |f| %>
  <fieldset class="no-border-top">

    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="clear"></div>

    <%= render :partial => 'spree/admin/shared/new_resource_links' %>

  </fieldset>
<% end %>
